{% extends 'base.html' %}

{% block content %}
    <div class="home">
        <div class="home-content">
            <h3>Hello, I am</h3>
            <h1>CodeWise</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod lectus ac quam ullamcorper, vitae semper enim iaculis. Curabitur ac eros mauris. Vivamus tristique, quam nec ultricies luctus, ex enim faucibus eros, ac aliquam ligula mauris nec sapien. Nullam scelerisque, lacus nec egestas semper, sapien enim posuere lectus, vel iaculis mauris sapien a quam. Nam ullamcorper luctus lacus, ut ultricies nibh egestas vitae.</p>

            <div class="social-media">
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <a href="" class="btn">Download CV</a>
        </div>
    </div>
{% endblock %}

